In [1]:
import os
os.chdir("../")

In [2]:
import json
from collections import defaultdict

import pandas as pd

In [3]:
train = pd.read_csv("res/sale_prediction/train.csv", index_col="id")
train.head()

          date  store_nbr      family  sales  onpromotion
id
0   2013-01-01          1  AUTOMOTIVE    0.0            0
1   2013-01-01          1   BABY CARE    0.0            0
2   2013-01-01          1      BEAUTY    0.0            0
3   2013-01-01          1   BEVERAGES    0.0            0
4   2013-01-01          1       BOOKS    0.0            0

In [4]:
train['store_nbr'].unique()

array([ 1, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19,  2, 20, 21, 22, 23, 24,
       25, 26, 27, 28, 29,  3, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39,  4,
       40, 41, 42, 43, 44, 45, 46, 47, 48, 49,  5, 50, 51, 52, 53, 54,  6,
        7,  8,  9])

In [5]:
oil_price = pd.read_csv("res/sale_prediction/oil.csv")
oil_price.head()

         date  dcoilwtico
0  2013-01-01         NaN
1  2013-01-02       93.14
2  2013-01-03       92.97
3  2013-01-04       93.12
4  2013-01-07       93.20

In [6]:
holiday = pd.read_csv("res/sale_prediction/holidays_events.csv")
holiday.head()

,date,type,locale,locale_name,description,transferred
0,2012-03-02,Holiday,Local,Manta,Fundacion de Manta,False
1,2012-04-01,Holiday,Regional,Cotopaxi,Provincializacion de Cotopaxi,False
2,2012-04-12,Holiday,Local,Cuenca,Fundacion de Cuenca,False
3,2012-04-14,Holiday,Local,Libertad,Cantonizacion de Libertad,False
4,2012-04-21,Holiday,Local,Riobamba,Cantonizacion de Riobamba,False

In [36]:
holiday['description'].unique()

array(['Fundacion de Manta', 'Provincializacion de Cotopaxi',
       'Fundacion de Cuenca', 'Cantonizacion de Libertad',
       'Cantonizacion de Riobamba', 'Cantonizacion del Puyo',
       'Cantonizacion de Guaranda', 'Provincializacion de Imbabura',
       'Cantonizacion de Latacunga', 'Fundacion de Machala',
       'Fundacion de Santo Domingo', 'Cantonizacion de El Carmen',
       'Cantonizacion de Cayambe', 'Fundacion de Esmeraldas',
       'Primer Grito de Independencia', 'Fundacion de Riobamba',
       'Fundacion de Ambato', 'Fundacion de Ibarra',
       'Cantonizacion de Quevedo', 'Independencia de Guayaquil',
       'Traslado Independencia de Guayaquil', 'Dia de Difuntos',
       'Independencia de Cuenca', 'Provincializacion de Santo Domingo',
       'Provincializacion Santa Elena', 'Independencia de Guaranda',
       'Independencia de Latacunga', 'Independencia de Ambato',
       'Fundacion de Quito-1', 'Fundacion de Quito', 'Fundacion de Loja',
       'Navidad-4', 'Cantonizacion de Salinas', 'Navidad-3', 'Navidad-2',
       'Puente Navidad', 'Navidad-1', 'Navidad', 'Navidad+1',
       'Puente Primer dia del ano', 'Primer dia del ano-1',
       'Primer dia del ano', 'Recupero puente Navidad',
       'Recupero puente primer dia del ano', 'Carnaval', 'Viernes Santo',
       'Dia del Trabajo', 'Dia de la Madre-1', 'Dia de la Madre',
       'Batalla de Pichincha', 'Fundacion de Guayaquil-1',
       'Fundacion de Guayaquil', 'Inauguracion Mundial de futbol Brasil',
       'Mundial de futbol Brasil: Ecuador-Suiza',
       'Mundial de futbol Brasil: Ecuador-Honduras',
       'Mundial de futbol Brasil: Ecuador-Francia',
       'Mundial de futbol Brasil: Octavos de Final',
       'Mundial de futbol Brasil: Cuartos de Final',
       'Mundial de futbol Brasil: Semifinales',
       'Mundial de futbol Brasil: Tercer y cuarto lugar',
       'Mundial de futbol Brasil: Final', 'Black Friday', 'Cyber Monday',
       'Recupero Puente Navidad', 'Recupero Puente Primer dia del ano',
       'Terremoto Manabi', 'Terremoto Manabi+1', 'Terremoto Manabi+2',
       'Terremoto Manabi+3', 'Terremoto Manabi+4', 'Terremoto Manabi+5',
       'Terremoto Manabi+6', 'Terremoto Manabi+7', 'Terremoto Manabi+8',
       'Terremoto Manabi+9', 'Terremoto Manabi+10', 'Terremoto Manabi+11',
       'Terremoto Manabi+12', 'Terremoto Manabi+13',
       'Terremoto Manabi+14', 'Terremoto Manabi+15',
       'Terremoto Manabi+16', 'Terremoto Manabi+17',
       'Terremoto Manabi+18', 'Terremoto Manabi+19',
       'Terremoto Manabi+20', 'Terremoto Manabi+21',
       'Terremoto Manabi+22', 'Terremoto Manabi+23',
       'Terremoto Manabi+24', 'Terremoto Manabi+25',
       'Terremoto Manabi+26', 'Terremoto Manabi+27',
       'Terremoto Manabi+28', 'Terremoto Manabi+29',
       'Terremoto Manabi+30', 'Traslado Batalla de Pichincha',
       'Traslado Fundacion de Guayaquil',
       'Traslado Primer Grito de Independencia', 'Puente Dia de Difuntos',
       'Recupero Puente Dia de Difuntos', 'Traslado Primer dia del ano',
       'Traslado Fundacion de Quito'], dtype=object)

In [7]:
holiday['type'].unique()

array(['Holiday', 'Transfer', 'Additional', 'Bridge', 'Work Day', 'Event'],
      dtype=object)

In [9]:
holiday.iloc[20:50]

,date,type,locale,locale_name,description,transferred
20,2012-10-12,Transfer,National,Ecuador,Traslado Independencia de Guayaquil,False
21,2012-11-02,Holiday,National,Ecuador,Dia de Difuntos,False
22,2012-11-03,Holiday,National,Ecuador,Independencia de Cuenca,False
23,2012-11-06,Holiday,Regional,Santo Domingo de los Tsachilas,Provincializacion de Santo Domingo,False
24,2012-11-07,Holiday,Regional,Santa Elena,Provincializacion Santa Elena,False
25,2012-11-10,Holiday,Local,Guaranda,Independencia de Guaranda,False
26,2012-11-11,Holiday,Local,Latacunga,Independencia de Latacunga,False
27,2012-11-12,Holiday,Local,Ambato,Independencia de Ambato,False
28,2012-12-05,Additional,Local,Quito,Fundacion de Quito-1,False
29,2012-12-06,Holiday,Local,Quito,Fundacion de Quito,False
30,2012-12-08,Holiday,Local,Loja,Fundacion de Loja,False
31,2012-12-21,Additional,National,Ecuador,Navidad-4,False
32,2012-12-22,Holiday,Local,Salinas,Cantonizacion de Salinas,False
33,2012-12-22,Additional,National,Ecuador,Navidad-3,False
34,2012-12-23,Additional,National,Ecuador,Navidad-2,False
35,2012-12-24,Bridge,National,Ecuador,Puente Navidad,False
36,2012-12-24,Additional,National,Ecuador,Navidad-1,False
37,2012-12-25,Holiday,National,Ecuador,Navidad,False
38,2012-12-26,Additional,National,Ecuador,Navidad+1,False
39,2012-12-31,Bridge,National,Ecuador,Puente Primer dia del ano,False
40,2012-12-31,Additional,National,Ecuador,Primer dia del ano-1,False
41,2013-01-01,Holiday,National,Ecuador,Primer dia del ano,False
42,2013-01-05,Work Day,National,Ecuador,Recupero puente Navidad,False
43,2013-01-12,Work Day,National,Ecuador,Recupero puente primer dia del ano,False
44,2013-02-11,Holiday,National,Ecuador,Carnaval,False
45,2013-02-12,Holiday,National,Ecuador,Carnaval,False
46,2013-03-02,Holiday,Local,Manta,Fundacion de Manta,False
47,2013-04-01,Holiday,Regional,Cotopaxi,Provincializacion de Cotopaxi,False
48,2013-04-12,Holiday,Local,Cuenca,Fundacion de Cuenca,False
49,2013-04-14,Holiday,Local,Libertad,Cantonizacion de Libertad,False

In [10]:
holiday[holiday['type'] == "Work Day"]

,date,type,locale,locale_name,description,transferred
42,2013-01-05,Work Day,National,Ecuador,Recupero puente Navidad,False
43,2013-01-12,Work Day,National,Ecuador,Recupero puente primer dia del ano,False
149,2014-12-20,Work Day,National,Ecuador,Recupero Puente Navidad,False
161,2015-01-10,Work Day,National,Ecuador,Recupero Puente Primer dia del ano,False
283,2016-11-12,Work Day,National,Ecuador,Recupero Puente Dia de Difuntos,False

In [11]:
holiday[holiday["date"] == "2012-10-12"]

,date,type,locale,locale_name,description,transferred
20,2012-10-12,Transfer,National,Ecuador,Traslado Independencia de Guayaquil,False

In [12]:
holiday.iloc[303]

date                    2017-04-12
type                       Holiday
locale                       Local
locale_name                 Cuenca
description    Fundacion de Cuenca
transferred                   True
Name: 303, dtype: object

In [13]:
for entry in holiday[holiday["type"] == "Transfer"].itertuples():
    if not entry.description.startswith("Traslado "):
        print(entry)

Pandas(Index=304, date='2017-04-13', type='Transfer', locale='Local', locale_name='Cuenca', description='Fundacion de Cuenca', transferred=False)
Pandas(Index=329, date='2017-09-29', type='Transfer', locale='Local', locale_name='Ibarra', description='Fundacion de Ibarra', transferred=False)

In [14]:
stores = pd.read_csv("res/sale_prediction/stores.csv")
stores.head()

   store_nbr           city                           state type  cluster
0          1          Quito                       Pichincha    D       13
1          2          Quito                       Pichincha    D       13
2          3          Quito                       Pichincha    D        8
3          4          Quito                       Pichincha    D        9
4          5  Santo Domingo  Santo Domingo de los Tsachilas    D        4

In [15]:
for entry in holiday.itertuples():
    print(entry)
    break

Pandas(Index=0, date='2012-03-02', type='Holiday', locale='Local', locale_name='Manta', description='Fundacion de Manta', transferred=False)

In [37]:
def _proc_des(des: str):
    des = des.lower()

    tmp = re.findall(RE_DESCRIPTION, des)
    if len(tmp) > 0:
        des = tmp[0][0]

    if des.startswith("cantonizacion de"):
        des = "cantonizacion de"
    elif des.startswith("dia de"):
        des = "dia de"
    elif des.startswith("fundacion"):
        des = "fundacion"
    elif des.count("independencia") != 0:
        des = "independencia"
    elif des.startswith("recupero"):
        des = "recupero"
    elif des.startswith("provincializacion"):
        des = "provincializacion"

    return des


def _process_entry(entry) -> Tuple[str, str, Union[str, None]]:
    date_type = "work day"
    locale_name = entry.locale_name.lower()
    raw_date_type = entry.type.lower()

    # Process case type = 'weekend'
    date_obj = datetime.strptime(entry.date, "%Y-%m-%d")
    if date_obj.weekday() < 5 and date_type != "work day":
        date_type = "weekend"

    # Process case type = 'Event'
    if raw_date_type == "event":
        date_type = "event"

    # Process case type = 'transfer'
    if raw_date_type == "holiday":
        if entry.transferred is False:
            date_type = "holiday"
        else:
            date_type = "work day"

    if raw_date_type == "transfer":
        date_type = "holiday"

    # Process case type = 'additional'
    if raw_date_type == "additional":
        date_type = "holiday"

    # Set description
    if date_type == "work day":
        des = None
    else:
        des = _proc_des(entry.description)

    # Set locale_name
    if date_type in ["work day", "weekend"]:
        locale_name = "ecuador"

    return date_type, locale_name, des

In [38]:
holidayinfo = defaultdict(dict)
for entry in holiday.iloc[20:50].itertuples():
    date_type, locale_name, des = _process_entry(entry)

    holidayinfo[entry.date][locale_name] = {
        'date_type': date_type,
        'description': des
    }

In [39]:
with open ("dumps/out.json", "w+") as fp:
    json.dump(holidayinfo, fp, indent=2)